spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/db_lide}
    username: ${DB_USER:app_lide}
    password: ${DB_PASS:change_me}
  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  port: 8081

logging:
  level:
    org.liquibase: info
